/* libre-baskerville-regular - latin */

@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/libre-baskerville-v5-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
        url('../fonts/libre-baskerville-v5-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/libre-baskerville-v5-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/libre-baskerville-v5-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/libre-baskerville-v5-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/libre-baskerville-v5-latin-regular.svg#LibreBaskerville') format('svg');
    /* Legacy iOS */
}

/* montserrat-regular - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v12-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v12-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v12-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg');
    /* Legacy iOS */
}


body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}


@-moz-document url-prefix() {
    body {
        font-weight: lighter !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Libre Baskerville', serif;
    color: #2b325d;
    word-wrap: break-word;
    -ms-hyphens: none;
    hyphens: none;
    -webkit-hyphens: none;
    -moz-hyphens: none;
}

p {
    color: #6c757d;
}

h1 {
    font-size: 36px;
}

li,
button,
a {
    font-family: 'Montserrat', sans-serif;
}

.section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

section#story {
    padding-top: 0;
    padding-bottom: 0;
}

@media screen and (max-width: 758px) {

    h4,
    h5 {
        font-size: 0.9em;
    }
}


p.lead {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
}

.loader {
    position: absolute;
    top: calc(50% - 27px);
    left: calc(50% - 27px);
    border: 1px solid #f3f3f3;
    /* Light grey */
    border-top: 1px solid #bf9000;
    /* Blue */
    border-radius: 50%;
    width: 54px;
    height: 54px;
    -webkit-animation: realSpin 1s linear infinite;
    animation: realSpin 1s linear infinite;
}


.loader-logo {
    position: absolute;
    top: calc(50% - 27px);
    left: calc(50% - 27px);
    width: 54px;
    height: 54px;
}

.circle {
    border-radius: 50%;
    background-color: #2b325d;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    border: 1px solid #2b325d;
    width: 200px;
    height: 200px;
    -webkit-transition: all 450ms ease 0ms;
    -o-transition: all 450ms ease 0ms;
    transition: all 450ms ease 0ms;
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform: scale(0);
}

.circle-2 {

    background-color: #2b325d;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    border: 1px solid #2b325d;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    -webkit-transition: all 450ms ease 0ms;
    -o-transition: all 450ms ease 0ms;
    transition: all 450ms ease 0ms;
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform: scale(0);
}

.huge {
    -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(1);
    background: transparent;
}


.huge-2 {
    -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
}

@-webkit-keyframes realSpin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes realSpin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}




.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: table;
    background: #fff;
    z-index: 9999;
    overflow: hidden;
}

#logo {
    margin-top: -5px;
    margin-bottom: -5px;
}


#slogan p {
    opacity: 0.6;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */

/* Opera < 12.1 */

#slogan h3 {
    -webkit-animation: fadein 4s;
    /* Safari, Chrome and Opera > 12.1 */
    /* Firefox < 16 */
    /* Internet Explorer */
    /* Opera < 12.1 */
    animation: fadein 4s;
}

#slogan p.load {
    opacity: 1;
}

#slogan-img-wrap,
#slogan-img {
    width: 0;
}

@-webkit-keyframes grow {
    from {
        width: 0;
        opacity: 0;
    }

    to {
        width: 400px;
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    @-webkit-keyframes grow {
        from {
            width: 0;
            opacity: 0;
        }

        to {
            width: 280px;
            opacity: 1;
        }
    }
}



#slogan-img-wrap {
    width: 0;
    height: 80px;
    margin-top: 1rem;
    position: relative;
    display: inline-block;
    border-top: 1px solid black;
    -webkit-animation: grow 1.4s 2s forwards;
    animation: grow 1.4s 2s forwards;
}


#slogan-img {
    width: 0px;
    height: 80px;
    left: 75px;
    position: absolute;
    opacity: 0;
    background: url(../images/skyline.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 -60px;
    -webkit-animation: slidedown 0.8s ease-in-out forwards;
    animation: slidedown 0.8s ease-in-out forwards;
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

@media screen and (max-width: 768px) {
    #slogan-img {
        width: 0px;
        left: 10px;
    }
}

@-webkit-keyframes slidedown {
    from {
        background-position: 0 -60px;
        opacity: 0;
        width: 260px;

    }

    to {
        background-position: 0 0;
        width: 260px;

        opacity: 0.1;
    }
}


.btn-book {
    color: white !important;
    background-color: #16b0eb !important;
    border-radius: 3px;
    margin: 0 20px;
}


.btn-book:hover {
    color: white;

}

#navbar {
    -webkit-box-shadow: 0 8px 6px -6px #444;
    box-shadow: 0 0 4px #777;
    z-index: 1000;
}

.navbar-nav {
    font-size: 0.8em;
    font-weight: 600;
}

.navbar-brand span {
    font-family: 'Libre Baskerville', serif;
    padding-left: 5px;
    font-size: 0.8em;
    margin-top: 3px;
    font-weight: 600;
}

hr.tl {

    border-top: 1px solid #000;
    float: left;
}

.tl-t {
    width: 60%;
}

.tl-b {
    width: 25%;
}

hr.tl.tl-r {
    float: right;
    margin-left: 0;
}

.title {
    padding-top: 20px;
    margin-top: 1.1em;
    margin-bottom: 0.9em;
}

.carousel-cover {
    display: inline-block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: calc(50% - 100px);
    z-index: 1;
    padding-left: 0;
    list-style: none;
}

.carousel-cover h2,
.carousel-cover h5 {
    position: relative;
    color: white;
}

.carousel-cover h2 {

    font-size: 2.7rem;
    font-weight: 500;
}



@media screen and (max-width: 768px) {
    .carousel-cover h2 {
        font-size: 1.8rem;
    }
}

.carousel-cover p {
    font-size: 1.2em;
    margin-bottom: 0;
    color: white;
}

@media screen and (max-width: 768px) {
    .carousel-cover p {
        font-size: 1em;
    }
}

.carousel-cover hr {
    display: block;
    margin-top: 0;
    border-color: #fff7;
    border-width: 2px;
    width: 30%;
    text-align: left;
}

.carousel-cover .logo-stamp {
    display: inline-block;

}

#hero .carousel-item img {
    max-height: 850px;
    min-width: auto;
}


@media screen and (min-width: 413px) and (max-width: 768px) {

    #hero .carousel-item img {
        height: auto;
        width: 1200px !important;
        margin-left: calc(50% - 600px);
    }

}

@media screen and (min-width: 375px) and (max-width: 412px) {

    #hero .carousel-item img {
        height: auto;
        width: 1100px !important;
        margin-left: calc(50% - 550px);
    }

}

@media screen and (max-width: 374px) {

    #hero .carousel-item img {
        height: auto;
        width: 900px !important;
        margin-left: calc(50% - 450px);
    }

}


.trio {
    width: 60%;
    padding: 20px;
}

.trio-text {
    text-align: justify;
}

.text-story {
    color: #6c757d !important;
}

.circles {
    width: 100%;
    padding: 10px;
    opacity: 0.8;
}

@media screen and (min-width: 769px) and (max-width: 1199px) {

    .circles {
        width: 70%;
    }

}

@media screen and (min-width: 1200px) {

    .circles {
        width: 50%;
    }

}

.service p {
    font-size: 12px;
}

.service .col-md-6 {
    margin-bottom: 20px;
}

.card-header {
    background-color: #2b325d;

}

.card {
    max-width: 100%;
}

.card-header {
    word-wrap: break-word;
    overflow: hidden;
}

.btn-link {
    color: #fbfbfb;
    text-decoration: none;
    text-align: left;
    white-space: normal;
}

.btn-link:hover,
.btn-link:active,
.btn-link:focus {
    color: #ffc107;
    text-decoration: none;
}







/*
.carousel-control-next-icon,
.carousel-control-prev-icon {
    opacity: 0.4;
    background-color: #2b325d;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
*/
.carousel-control-prev,
.carousel-control-next {
    z-index: 998;

}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffc107' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffc107' viewBox='0 0 8 8'%3E%3Cpath d='M2.25 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


#test-carousel .carousel-inner {
    overflow: visible;
}

.carousel-thumbnails .carousel-indicators img {
    max-width: 100px;
    height: 50px;
    overflow: hidden;
    display: block;
    background: transparent;
}


@media screen and (orientation: portrait) {

    .carousel-thumbnails .carousel-indicators img {
        max-width: 100px;
        height: 30px;
        overflow: hidden;
        display: block;
        background: transparent;
    }
}

.carousel-thumbnails .carousel-indicators li {
    height: auto;
    max-width: 100px;
    width: 100px;
    border: none;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

.carousel-indicators li.active {
    opacity: 0.9;
    -webkit-transform: scaleX(1.3);
    -ms-transform: scaleX(1.3);
    transform: scaleX(1.3);
    -webkit-transform: scaleY(1.05);
    -ms-transform: scaleY(1.05);
    transform: scaleY(1.05);
}

.modal.and.carousel {
    position: fixed;
}

.gallery-img {
    min-height: 600px;
    min-width: 400px;
}


#houses-drawing {
    width: 100%;
    margin-bottom: 40px;
}

@media screen and (min-width: 1200px) {

    #houses-drawing {
        width: 60%;
        float: right;
    }
}

.btn-value,
btn-book {
    border: solid 2px #fff;
}

.btn a {
    text-decoration: none !important;
    font-weight: 500 !important;
    color: #fff;

}

.btn-value {
    background-color: #bf9000 !important;
    color: #ffffff !important;
    border-color: #ffffff !important;
    -webkit-box-shadow: 0 0 10px #0005;
    box-shadow: 0 0 10px #0005;
    overflow: hidden;

}

.btn-value:hover {
    background-color: #ffffff !important;
    color: #bf9000 !important;
    border-color: #bf9000 !important;
    -webkit-box-shadow: 0 0 10px #0005;
    box-shadow: 0 0 10px #0005;
    overflow: hidden;

}

#apply .btn-value {
    position: relative;
    margin: 10px;
    margin-top: 7px;
}



#apply .btn-value:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #fff;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-value:hover,
.btn-value:active {
    color: #bf9000;
}

.btn-value:hover:after {
    height: 260%;
    opacity: 1;
}


.btn-navy {
    background-color: #16b0eb;
    position: relative !important;
    border: solid 5px #fff;
    -webkit-box-shadow: 0 0 10px #0005;
    box-shadow: 0 0 10px #0005;
    overflow: hidden;

}



.btn-brochure {
    position: absolute;
    width: 200px;
    left: calc(50% - 100px);
    top: 50%;
}

.gold {
    border-color: #bf9000;
}

.navy {
    border-color: #2b235d;
}

.btn-value:active:after {
    height: 400%;
    opacity: 1;
}

#test-carousel .carousel-item {
    overflow: visible;
    min-height: 300px;
    height: auto;
}

.slick-arrow {
    display: none !important;
}


#startdate,
#enddate,
#guests,
#submit {
    border: 1px solid #ced4da;
    border-radius: 0;
}

#submit {
    color: white !important;
    background-color: #16b0eb !important;
    border: 0;
}

#submit:hover {
    background-color: #1890bd !important;

}

#guestyform {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
}


.wrapper {
    position: absolute;
    transform: translateY(-50%);
    bottom: 0;
    top: 50%;
}

.splodge {
    opacity: 0.7;
    position: absolute;
    width: 150px;
    height: auto;
    top: calc(50% - 75px);
    left: calc(50% - 20px)
}

@media screen and (max-width: 412px) {
    #test-carousel .carousel-item {
        min-height: 500px;
    }



    .splodge {
        width: 40%;
    }

    .splodge-1 {
        top: calc(50% - 70px);
        left: calc(50% - 100px)
    }

    .splodge-2 {
        top: calc(50% - 90px);
        left: calc(50% - 60px)
    }
}

@media screen and (min-width: 413px) and (max-width: 700px) {
    .splodge {
        width: 30%;
    }

    .splodge-1 {
        top: calc(50% - 100px);
        left: calc(50% - 150)
    }

    .splodge-2 {
        top: calc(50% - 10px);
        left: calc(50% - 30px)
    }
}

@media screen and (min-width: 701px) {
    .splodge {
        width: 20%;
    }

    .splodge-1 {
        top: calc(50% - 100px);
        left: calc(50% + 50px)
    }

    .splodge-2 {
        top: calc(50% - 100px);
        left: calc(50% - 300px)
    }
}

.map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.header-contact {
    font-size: 1rem;
}

.header-contact-lesser {
    color: ;
    font-size: 0.8rem;
}

@media screen and (max-width: 412px) {
    .header-contact {
        font-size: 1rem;
    }
}

@media screen and (min-width:413px) and (max-width: 700px) {
    .header-contact {
        font-size: 1.4rem;
    }
}

/* Side By Side */

#fm-medium-embed {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

.fm-post-wrapper {
    display: inline-block;
    border-radius: 1px;
    width: 300px;
    padding: 15px;
    background: #fff;
    text-align: left;
    margin: 10px;
    min-height: 340px;
    border: 1px solid #000;
}

.fm-post-title {
    font-size: 20px;
    height: 25px;
    white-space: nowrap;
    margin-top: 20px;

    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fm-post-title a {
    color: #bf9000;

}


.fm-post-sub-title {
    min-height: 130px;
    line-height: 24px;
    color: #333;
}

.fm-medium-profile {
    margin-top: 10px;
    padding: 5px;
    display: block;
}

.fm-medium-profile a {
    display: inline-block;
    background: #fff;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #4285f4;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);

}

.social,
.mail {
    padding: 3px;
}

@media screen and (max-width: 700px) {

    .partner {
        height: 75px;
        width: auto
    }
}


/* Job Page */

.job-location {
    font-size: 0.5em;
}

.job-accordion .card-body p {
    font-size: 0.8em;
}
